<div class="users-index-page">
	<%= simple_form_for @user, :url => users_admin_index_path, :method => :post do |f| %>
		<%= f.input :email %>
		<%= f.input :password %>
		<%= submit_tag "Create user", class: "submit-btn" %>
	<% end %>

	<% @emails.each do |user_hash| %>
		<div class="user-wrapper">
			<div class="email">
				<%= user_hash["email"] %>
			</div>
			<div class="icons">
				<div class="admin icon">
					<i class="fa fa-users" aria-hidden="true"></i>
				</div>
				<div class="edit icon">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</div>
				<div class="delete icon">
					<i class="fa fa-trash-o" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	<% end %>
</div>