<div class="users-index-page">

	<div class="divisions-wrapper">
		<div class="division division-green js-all-division-btn-users">
			All divisions
		</div>
		<% @divisions.each_with_index do |division| %>
			<div class="division js-division-btn-users division-black" data-division-btn-id="<%= division.last %>">
				<%= division.first %>
			</div>
		<% end %>
	</div>

	<div class="new-user-wrapper">
		<div class="new-user-header">
			<i class="fa fa-plus-circle icon" aria-hidden="true"></i>
			<div class="text">
				Add new user
			</div>
		</div>
		<div class="new-form-wrapper hide">
			<%= render "new_form", user: @user %>
		</div>
	</div>
	

	<div class="users-wrapper">
		
		<div class="col-wrapper">
			<% @admins.each do |user_hash| %>
				<%= render "user_hash", user_hash: user_hash %>
			<% end %>
		</div>

		<div class="col-wrapper">
			<% @employees.each do |user_hash| %>
				<%= render "user_hash", user_hash: user_hash %>
			<% end %>
		</div>

	</div>
</div>