<div class="fixed-main-navbar">
	<div class="main-navbar">
		<div class="main-navbar-left">
			<%= link_to root_path do  %>
				<div class="logo">
					<%= image_tag("way-book-edited", size: "100x25") %>
				</div>
			<% end %>
		</div>
		<div class="main-navbar-right">

			<% if user_signed_in? %>
				<div class="nav-btns">
					<%= link_to users_admin_index_path do %>
						<div class="employees-btn nav-btn <%= @is_search_employee_page ? 'green' : 'gray' %>">
							<div class="box-1">
								<div class="icon-text-wrapper">
									<i class="fa fa-address-book-o" aria-hidden="true"></i>
									<div class="text">
										Employees
									</div>
								</div>
								<div class="box-2 <%= 'green-border' if @is_search_employee_page %>">
									
								</div>
							</div>
						</div>
					<% end %>

					<%= link_to divisions_path do %>
						<div class="skills-btn nav-btn <%= @is_profiles_page ? 'green' : 'gray' %>">
							<div class="box-1">
								<div class="icon-text-wrapper">
									<i class="fa fa-list" aria-hidden="true"></i>
									<div class="text">
										Skills
									</div>
								</div>
								<div class="box-2 <%= 'green-border' if @is_profiles_page %>">
									
								</div>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
			
			<%= render "shared/navbar/other_apps" %>

		    <% if user_signed_in? %>
			    <div class="dropdown navbar-item">
			        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar avatar-cursor dropdown-toggle" data-toggle="dropdown">

			        <div class="dropdown-menu dropdown-menu-right">
			        	<div class="avatar-navbar-content-wrapper">
				        	<div class="user-name dd-item">
				        		<%= current_user.email %>
				        	</div>
				        	
				        	<div class="dd-item">
						        <%= link_to destroy_user_session_path, method: :delete, class: "" do %>
						          <i class="fa fa-sign-out icon"></i>
						          Log out
						        <% end %>
				        	</div>
					    </div>
				    </div>
			        
			    </div>
			<% else %>
	      		<%# = link_to t(".sign_in", default: "Login"), new_user_session_path, class: "login" %>
	        <% end %>

		</div>
	</div>
</div>